{% extends "blog/base.html" %}
{% block content %}

<br>
<br>
<br>
<br>
<br>




          <div class="row">
             
	     
	  
	  
	  <div class="col-md-12 grid-margin stretch-card transparent">
                  <div class="card card-inverse-warning">
                    <div class="card-body">
               
         	<h4>Sorry we couldn't find for what you were looking for. Maybe try with few keywords.</h4>
   


                    </div>
                  </div>
                </div>


</div>





{% endblock content %}
