{% extends "blog/base.html" %}
{% block content %}
{% load static %}
    
<style>
.ovvv {
word-break:break-all;
word-wrap: break-word;
}


.cardee {

  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2);
 
}
.iomg {
 width: 42px;
  height: 42px;
  border-radius: 100%;

}

.xmz {

 font-size: 18px;
 
 
 }

.xmzd {

 font-size: 18px;
 }




hr.style-one {
border: 0;
height: 1px;
background: #ced4da;

}



</style>
	
<br>
<br>
<br>
<br>
<br>





          <div class="row">
             
	     
	  
	  
	  <div class="col-md-12 grid-margin stretch-card transparent">
                  <div class="card card-inverse-primary">
                    <div class="card-body">
               
			   
			     {% for post in posts %}
	{% if forloop.first %}
	{% if post.author == user %}
         	<h3>Your Uploads ({{ page_obj.paginator.count }})</h3>
   
	{% else %}
	 <h3>Uploads by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h3>
	  {% endif %}
	{% endif %}
	{% endfor %}
			   

                    </div>
                  </div>
                </div>
	  
	
	  
	  
	   {% for post in posts %}
	  
	  
	  <div class="col-md-12 grid-margin stretch-card">
              <div class="card  cardee">
                <div class="card-body">
				
									{% if post.author == user %}
				
			 <div class="d-flex justify-content-between">
						  
	   &nbsp;
				
				
				   <div class="dropdown">
                          <a id="dropdownMenuIconButton2" href="#" style="text-decoration:none;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="xmz ti-more-alt text-secondary"></i> 
                          </a>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuIconButton2">
                      
                            <a class="dropdown-item" href="{% url 'post-update' post.id %}">Edit</a>
                           
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'post-delete' post.id %}">Delete</a>
                          </div>
                        </div>
						
					</div>	
						
				
				
				{% endif %}
				 <div class="media">
					
					{% if post.author == user %}
            		 <a href="{% url 'user-posts' post.author.username %}"><img class="iomg d-flex align-self-start mr-3 " src="{% static 'blog/images/faces/face28.jpg' %}" alt="."></a>
	     
		 {% else %}
	            	<a href="{% url 'user-posts' post.author.username %}"><img class="iomg  d-flex align-self-start mr-3" src="{% static 'blog/images/faces/face27.jpg' %}" alt="."></a>
	  {% endif %}

					
					
                    <div class="media-body">
					
					
<h5>
                     {% if post.author == user %}
             <a class="text-dark ovvv" href="{% url 'user-posts' post.author.username %}" style="text-decoration:none">You</a>
   
	{% else %}
	              <a class="text-dark ovvv" href="{% url 'user-posts' post.author.username %}"  style="text-decoration:none">{{ post.author }}</a>
	  {% endif %}
			
</h5>			

<h4>		   
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
				</h4>	
				&nbsp;
                    </div>
					
                  </div> 
		
	
		
	
     
           <h4>{{ post.title }}</h4> 
		

           <p class="lead">{{ post.content }}</p> 



			                 <hr class="style-one">
				
			 
				 {% if post.file %}
               
				 <div class="d-flex justify-content-between">
				
			 
		 {% if post.extension == '.pdf' %}   
		  <label class="badge badge-danger font-weight-bold">{{ post.extension | slice:"1:" | upper }} &#183; {{ post.file.size | filesizeformat}}</label>
	 {% elif post.extension == '.ppt' or post.extension == '.pptx' %}  
		  <label class="badge badge-warning font-weight-bold">{{ post.extension | slice:"1:" | upper }} &#183; {{ post.file.size | filesizeformat}}</label>
	 {% elif post.extension == '.doc' or post.extension == '.docx' %}  	  
		    <label class="badge badge-info font-weight-bold">{{ post.extension | slice:"1:" | upper }} &#183; {{ post.file.size | filesizeformat}}</label>
			
		{% elif post.extension == '.txt' %}  	  
		    <label class="badge badge-success font-weight-bold">{{ post.extension | slice:"1:" | upper }} &#183; {{ post.file.size | filesizeformat}}</label>

		{% else %}  	  
		    <label class="badge badge-danger font-weight-bold">{{ post.extension | slice:"1:" | upper }} &#183; {{ post.file.size | filesizeformat}}</label>
			
          {% endif %}

            <a   href="{{ post.file.url }}"   download> <button type="submit" class="btn btn-primary btn-icon-text  btn-sm ">   
			 <i class="ti-download btn-icon-prepend"></i>   
			Download
			</button> 
			</a>
			
		  </div>
		  
		
          {% endif %}
		  
		  
                </div>
              </div>
            </div>


    {% endfor %}


</div>



<br>
	<br>
	 

              
	 <div class="btn-group" role="group">
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a  href="?page=1"><button type="submit" class="btn btn-inverse-primary btn-icon"> <i class="ti-angle-double-left"></i> </button> </a>
		&nbsp;
        <a  href="?page={{ page_obj.previous_page_number }}"><button type="submit" class="btn btn-inverse-primary btn-icon"> <i class="ti-angle-left"></i> </button> </a>
      &nbsp;
	  {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a href="?page={{ num }}"><button type="submit" class="btn btn-primary btn-icon">{{ num }}</button></a>
		  &nbsp;
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
		
          <a href="?page={{ num }}"><button type="submit" class="btn btn-inverse-primary btn-icon">{{ num }}</button></a>
		  &nbsp;
		  
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}"><button type="submit" class="btn btn-inverse-primary btn-icon"> <i class="ti-angle-right"></i> </button> </a>
       &nbsp;
	   <a href="?page={{ page_obj.paginator.num_pages }}"><button type="submit" class="btn btn-inverse-primary btn-icon"> <i class="ti-angle-double-right"></i> </button> </a>
      {% endif %}

    {% endif %}
	
	
	</div>
	<br>
	<br>

<br>
	
	
{% endblock content %}
